<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tp5cms</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {include file="public/common_css"}

  {include file="public/common_js"}
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {include file="public/header"}

  {include file="public/menu"}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {block name="content"}content{/block}
  </div>
  <!-- /.content-wrapper -->

  {include file="public/footer"}

  <!-- Control Sidebar -->
  {include file="public/sidebar"}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

</body>
</html>
