{extend name="public/base" /}
{block name="content"}

<style>
    td , tr{
        vertical-align: middle !important;
    }
</style>
<section class="content-header">
    <h1>
        字段管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页 </a></li>
        <li><a href="{:url('fields/index')}"><i class="fa fa-cog"></i> 字段管理</a></li>
        <li class="active">字段列表</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="clearflx">
                        <div class="box-tools pull-left">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{:url('store')}">
                                    <i class="fa fa-plus"></i> 添加字段
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 50px">ID</th>
                            <th>中文名称</th>
                            <th>英文名称</th>
                            <th>字段类型</th>
                            <th>所属模型</th>
                            <th style="width: 160px;">操作</th>
                        </tr>
                        {foreach name="lists" item="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.field_cname}</td>
                            <td>{$vo.field_ename}</td>
                            <td>
                                {switch name="$vo.field_type"}
                                    {case value="1"}文本框{/case}
                                    {case value="2"}单选按钮{/case}
                                    {case value="3"}复选框{/case}
                                    {case value="4"}下拉框{/case}
                                    {case value="5"}文本域{/case}
                                    {case value="6"}附件{/case}
                                    {case value="7"}浮点型{/case}
                                    {case value="8"}整形{/case}
                                    {case value="9"}长文本(LONGTEXT){/case}
                                    {default /} 其他
                                {/switch}
                            </td>
                            <td>{$vo.model_name}</td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{:url('edit', ['id'=>$vo.id])}">编辑</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:;" onclick="del(this, '{$vo.id}')">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$lists->render()}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{load href="__STATIC__/admin/src/common.js"}
<script>
    function del(obj, id) {
        var url = "{:url('delete')}";
        confirm (url, id);
        $(obj).parents('tr').remove();
    }
</script>
{/block}