{extend name="public/base" /}
{block name="content"}
{load href="__STATIC__/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"}
{load href="__STATIC__/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"}
<style>
    .bootstrap-tagsinput { width: 100%; }
</style>
<section class="content-header">
    <h1>
        字段管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页 </a></li>
        <li><a href="{:url('fields/index')}"><i class="fa fa-cog"></i> 字段管理</a></li>
        <li class="active">添加字段</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" id="menuAdd">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加字段</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" class="form-horizontal" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">中文名称：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="field_cname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">英文名称：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="field_ename">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所选模型：</label>
                            <div class="col-sm-9">
                                <select name="model_id" class="form-control">
                                    <option value="">选择模型</option>
                                    {foreach name="models" item="vo"}
                                    <option value="{$vo.model_id}">{$vo.model_name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">字段类型：</label>
                            <div class="col-sm-9">
                                <select name="field_type" class="form-control">
                                    <option value="">选择字段类型</option>
                                    <option value="1">文本框</option>
                                    <option value="2">单选按钮</option>
                                    <option value="3">复选按钮</option>
                                    <option value="4">下拉框</option>
                                    <option value="5">文本域</option>
                                    <option value="6">附件</option>
                                    <option value="7">浮点型</option>
                                    <option value="8">整形</option>
                                    <option value="9">长文本LONGTEXT</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">字段可选值：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="field_values" data-role="tagsinput" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-offset-1">
                            <button type="submit" class="btn btn-success">添加</button>
                            <button type="button" class="btn btn-primary" onclick="window.history.go(-1)">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $("input[name='field_values']").tagsinput({
        tagClass: 'label label-primary'
    });
</script>
{/block}
