{extend name="public/base" /}
{block name="content"}
<style>
    .checkbox-inline, .radio-inline {
        padding-left: 0;
        padding-right: 20px;
    }
</style>
<section class="content-header">
    <h1>
        配置管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="{:url('webset/index')}"> <i class="fa fa-cog"></i> Config </a></li>
        <li class="active"> Setting</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <form action="{:url('confShow')}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">基本设置</a></li>
                        <li><a href="#tab_2" data-toggle="tab">联系方式</a></li>
                        <li><a href="#tab_3" data-toggle="tab">SEO设置</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <?php foreach( $confRes as $k=>$v):?>
                            <?php if($v['cf_type']==1):?>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><?php echo $v['cname'];?>：</label>
                                <div class="col-sm-9">
                                    <?php if($v['dt_type']==1):?> <!-- 单行文本 -->
                                    <input class="form-control" name="<?php echo $v['ename'];?>"  value="<?php echo $v['value'];?>" type="text">
                                    <?php endif;?>
                                    <?php if($v['dt_type']==2):
                                            $valuesArr=explode(',', $v['values']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 单选按钮 -->
                                    <div class="radio-inline">
                                        <label>
                                            <input {if condition="$v1 eq $v['value']"} checked="checked" {/if} name="<?php echo $v['ename'];?>" value="<?php echo $v1;?>" type="radio">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==3):
                                            $valuesArr=explode(',', $v['values']);
                                            $valueArr=explode(',', $v['value']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 复选框 -->
                                    <div class="checkbox-inline">
                                        <label>
                                            <input name="<?php echo $v['ename'];?>[]" <?php if(in_array($v1, $valueArr)){echo 'checked="checked"';}?> value="<?php echo $v1;?>"  type="checkbox">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==4):?> <!-- 下拉菜单 -->
                                    <select name="<?php echo $v['ename'];?>" class="form-control">
                                        <option value="">请选择</option>
                                        <?php $valuesArr=explode(',', $v['values']);
                                                foreach($valuesArr as $k1=>$v1):
                                        ?>
                                        <option <?php if($v1==$v['value']){echo 'selected="selected"';}?> value="<?php echo $v1;?>"><?php echo $v1;?></option>
                                        <?php endforeach;?>
                                    </select>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==5):?> <!-- 文本域 -->
                                        <textarea name="<?php echo $v['ename'];?>" class="form-control" cols="3"> <?php echo $v['value'];?> </textarea>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==6):?> <!-- 附件类型 -->
                                        <input class="form-control" value=""  name="<?php echo $v['ename'];?>"  type="file">
                                        {if condition="$v['value']"}<img height="30" src="{$v.value}">{else /}{/if}
                                    <?php endif;?>
                                </div>
                            </div>
                            <?php endif;?>
                            <?php endforeach;?>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <?php foreach( $confRes as $k=>$v):?>
                            <?php if($v['cf_type']==2):?>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><?php echo $v['cname'];?>：</label>
                                <div class="col-sm-9">
                                    <?php if($v['dt_type']==1):?> <!-- 单行文本 -->
                                    <input class="form-control" name="<?php echo $v['ename'];?>"  value="<?php echo $v['value'];?>" type="text">
                                    <?php endif;?>
                                    <?php if($v['dt_type']==2):
                                            $valuesArr=explode(',', $v['values']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 单选按钮 -->
                                    <div class="radio-inline">
                                        <label>
                                            <input {if condition="$v1 eq $v['value']"} checked="checked" {/if} name="<?php echo $v['ename'];?>" value="<?php echo $v1;?>" type="radio">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==3):
                                            $valuesArr=explode(',', $v['values']);
                                            $valueArr=explode(',', $v['value']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 复选框 -->
                                    <div class="checkbox-inline">
                                        <label>
                                            <input name="<?php echo $v['ename'];?>[]" <?php if(in_array($v1, $valueArr)){echo 'checked="checked"';}?> value="<?php echo $v1;?>"  type="checkbox">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==4):?> <!-- 下拉菜单 -->
                                    <select name="<?php echo $v['ename'];?>" class="form-control">
                                        <option value="">请选择</option>
                                        <?php $valuesArr=explode(',', $v['values']);
                                                foreach($valuesArr as $k1=>$v1):
                                        ?>
                                        <option <?php if($v1==$v['value']){echo 'selected="selected"';}?> value="<?php echo $v1;?>"><?php echo $v1;?></option>
                                        <?php endforeach;?>
                                    </select>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==5):?> <!-- 文本域 -->
                                    <textarea name="<?php echo $v['ename'];?>" class="form-control" cols="3"> <?php echo $v['value'];?> </textarea>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==6):?> <!-- 附件类型 -->
                                    <input class="form-control" value=""  name="<?php echo $v['ename'];?>"  type="file">
                                    {if condition="$v['value']"}<img height="30" src="{$v.value}">{else /}{/if}
                                    <?php endif;?>
                                </div>
                            </div>
                            <?php endif;?>
                            <?php endforeach;?>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <?php foreach( $confRes as $k=>$v):?>
                            <?php if($v['cf_type']==3):?>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><?php echo $v['cname'];?>：</label>
                                <div class="col-sm-9">
                                    <?php if($v['dt_type']==1):?> <!-- 单行文本 -->
                                    <input class="form-control" name="<?php echo $v['ename'];?>"  value="<?php echo $v['value'];?>" type="text">
                                    <?php endif;?>
                                    <?php if($v['dt_type']==2):
                                            $valuesArr=explode(',', $v['values']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 单选按钮 -->
                                    <div class="radio-inline">
                                        <label>
                                            <input {if condition="$v1 eq $v['value']"} checked="checked" {/if} name="<?php echo $v['ename'];?>" value="<?php echo $v1;?>" type="radio">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==3):
                                            $valuesArr=explode(',', $v['values']);
                                            $valueArr=explode(',', $v['value']);
                                            foreach($valuesArr as $k1=>$v1):
                                    ?> <!-- 复选框 -->
                                    <div class="checkbox-inline">
                                        <label>
                                            <input name="<?php echo $v['ename'];?>[]" <?php if(in_array($v1, $valueArr)){echo 'checked="checked"';}?> value="<?php echo $v1;?>"  type="checkbox">
                                            <?php echo $v1;?>
                                        </label>
                                    </div>
                                    <?php endforeach; endif;?>
                                    <?php if($v['dt_type']==4):?> <!-- 下拉菜单 -->
                                    <select name="<?php echo $v['ename'];?>" class="form-control">
                                        <option value="">请选择</option>
                                        <?php $valuesArr=explode(',', $v['values']);
                                                foreach($valuesArr as $k1=>$v1):
                                        ?>
                                        <option <?php if($v1==$v['value']){echo 'selected="selected"';}?> value="<?php echo $v1;?>"><?php echo $v1;?></option>
                                        <?php endforeach;?>
                                    </select>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==5):?> <!-- 文本域 -->
                                    <textarea name="<?php echo $v['ename'];?>" class="form-control" cols="3"> <?php echo $v['value'];?> </textarea>
                                    <?php endif;?>
                                    <?php if($v['dt_type']==6):?> <!-- 附件类型 -->
                                    <input class="form-control" value=""  name="<?php echo $v['ename'];?>"  type="file">
                                    {if condition="$v['value']"}<img height="30" src="{$v.value}">{else /}{/if}
                                    <?php endif;?>
                                </div>
                            </div>
                            <?php endif;?>
                            <?php endforeach;?>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-offset-1">
                            <button type="submit" class="btn btn-success">添加</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })
    });
    $('input[type="file"]').change(function () {
        $(this).next('img').attr('src', '');
    })
</script>
<!-- /.content -->
{/block}
