{extend name="public/base" /}
{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        系统配置
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="{:url('webset/index')}"> <i class="fa fa-cog"></i> Config </a></li>
        <li class="active"> Setting </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post" class="form-horizontal" role="form">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">基本设置</a></li>
                        <li><a href="#tab_2" data-toggle="tab">联系方式</a></li>
                        <li><a href="#tab_3" data-toggle="tab">SEO设置</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="tag_name">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="tag_name">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标签名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-offset-1">
                            <button type="button" class="btn btn-primary" onclick="window.history.go(-1)">返回</button>
                            <button type="submit" class="btn btn-success">添加</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>

</script>
<!-- /.content -->
{/block}
