{extend name="public/base" /}
{block name="content"}
<style>
    .checkbox-inline, .radio-inline {
        padding-left: 0;
        padding-right: 20px;
    }
</style>
<section class="content-header">
    <h1>
        系统配置
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="{:url('webset/index')}"> <i class="fa fa-cog"></i> Config </a></li>
        <li class="active"> Setting</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <form action="{:url('confShow')}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">基本设置</a></li>
                        <li><a href="#tab_2" data-toggle="tab">联系方式</a></li>
                        <li><a href="#tab_3" data-toggle="tab">SEO设置</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            {foreach name="baseInfo" item="vo"}
                            {switch name="$vo.dt_type" }
                            {case value="1"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="{$vo.ename}" value="{$vo.value}">
                                </div>
                            </div>
                            {/case}
                            {case value="2"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    {foreach name="radio" item="ro"}
                                    <label class="radio-inline">
                                        <input type="radio" name="{$vo.ename}" {if condition="$vo.value eq $ro"}checked{/if} value="{$ro}">
                                        {$ro}
                                    </label>
                                    {/foreach}
                                </div>
                            </div>
                            {/case}
                            {case value="3"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    {foreach name="checkbox" item="v"}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="{$vo.ename}[]" {if condition="in_array($v, $checkboxValue)"}checked{/if} value="{$v}">
                                        {$v}
                                    </label>
                                    {/foreach}
                                </div>
                            </div>
                            {/case}
                            {case value="4"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <select name="{$vo.ename}" class="form-control">
                                        <option value=""> 请选择 </option>
                                        {foreach name="selected" item="v"}
                                        <option {if condition="$vo.value eq $v"}selected{/if} value="{$v}"> {$v} </option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            {/case}
                            {case value="5"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <textarea name="{$vo.ename}" class="form-control" cols="30" rows="3">{$vo.value}</textarea>
                                </div>
                            </div>
                            {/case}
                            {case value="6"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="file" name="{$vo.ename}" value="" class="form-control">
                                </div>
                            </div>
                            {/case}
                            {/switch}
                            {/foreach}
                        </div>
                        <div class="tab-pane" id="tab_2">
                            {foreach name="ways" item="vo"}
                            {switch name="$vo.dt_type" }
                            {case value="1"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="{$vo.ename}" value="{$vo.value}">
                                </div>
                            </div>
                            {/case}
                            {case value="2"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    {foreach name="radio" item="ro"}
                                    <label class="radio-inline">
                                        <input type="radio" name="{$vo.ename}" {if condition="$vo.value eq $ro"}checked{/if} value="{$ro}">
                                        {$ro}
                                    </label>
                                    {/foreach}
                                </div>
                            </div>
                            {/case}
                            {case value="3"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-9">
                                        {foreach name="checkbox" item="v"}
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="{$vo.ename}[]" {if condition="in_array($v, $checkboxValue)"}checked{/if} value="{$v}">
                                            {$v}
                                        </label>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                            {/case}
                            {case value="4"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <select name="{$vo.ename}" class="form-control">
                                        <option value=""> 请选择 </option>
                                        {foreach name="selected" item="v"}
                                        <option {if condition="$vo.value eq $v"}selected{/if} value="{$v}"> {$v} </option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            {/case}
                            {case value="5"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <textarea name="{$vo.ename}" class="form-control" cols="30" rows="3">{$vo.value}</textarea>
                                </div>
                            </div>
                            {/case}
                            {case value="6"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="file" name="{$vo.ename}" value="" class="form-control">
                                </div>
                            </div>
                            {/case}
                            {/switch}
                            {/foreach}
                        </div>
                        <div class="tab-pane" id="tab_3">
                            {foreach name="seo" item="vo"}
                            {switch name="$vo.dt_type" }
                            {case value="1"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="{$vo.ename}" value="{$vo.value}">
                                </div>
                            </div>
                            {/case}
                            {case value="2"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    {foreach name="radio" item="ro"}
                                    <label class="radio-inline">
                                        <input type="radio" name="{$vo.ename}" {if condition="$vo.value eq $ro"}checked{/if} value="{$ro}">
                                        {$ro}
                                    </label>
                                    {/foreach}
                                </div>
                            </div>
                            {/case}
                            {case value="3"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-9">
                                        {foreach name="checkbox" item="v"}
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="{$vo.ename}[]" {if condition="in_array($v, $checkboxValue)"}checked{/if} value="{$v}">
                                            {$v}
                                        </label>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                            {/case}
                            {case value="4"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <select name="{$vo.ename}" class="form-control">
                                        <option value=""> 请选择 </option>
                                        {foreach name="selected" item="v"}
                                        <option {if condition="$vo.value eq $v"}selected{/if} value="{$v}"> {$v} </option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            {/case}
                            {case value="5"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <textarea name="{$vo.ename}" class="form-control" cols="30" rows="3">{$vo.value}</textarea>
                                </div>
                            </div>
                            {/case}
                            {case value="6"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{$vo.cname}：</label>
                                <div class="col-sm-9">
                                    <input type="file" name="{$vo.ename}" value="" class="form-control">
                                </div>
                            </div>
                            {/case}
                            {/switch}
                            {/foreach}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-offset-1">
                            <button type="button" class="btn btn-primary" onclick="window.history.go(-1)">返回</button>
                            <button type="submit" class="btn btn-success">添加</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('input[type="checkbox"], input[type="radio"]').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })
    });
</script>
<!-- /.content -->
{/block}
