{extend name="public/base" /}
{block name="content"}
<!--{load href="__STATIC__/admin/js/common.js"}-->
<style>
    td , tr{
        vertical-align: middle !important;
    }
</style>
<section class="content-header">
    <h1>
        配置列表
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('index/index')}"><i class="fa fa-home"></i> 首页 </a></li>
        <li><a href="{:url('webset/index')}"><i class="fa fa-cog"></i> 配置管理</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="clearflx">
                        <div class="box-tools pull-left">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{:url('store')}">
                                    <i class="fa fa-plus"></i> 添加配置
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 50px">ID</th>
                            <th>菜单名称</th>
                            <th>菜单标识</th>
                            <th>菜单图标</th>
                            <th style="width: 160px;">操作</th>
                        </tr>
                        {foreach name="lists" item="vo"}
                        <tr>
                            <td>{$vo.menu_id}</td>
                            <td>{$vo._menu_title}</td>
                            <td>{$vo.menu_url}</td>
                            <td>{$vo.menu_icon}</td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-success btn-xs dropdown-toggle" aria-expanded="false">操作 <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="{:url('edit', ['id'=>$vo.menu_id])}">编辑</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:;">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
</script>
{/block}